@model IEnumerable<Sklep_z_ksiazkami.Models.Order>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
	<thead>
		<tr>

			<th>
				@Html.DisplayNameFor(model => model.date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Book)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.User.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.status)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Book.Title)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.User.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.status)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
